<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :topic_name, id: :lecture_topic_name,placeholder: "Topic Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.select :course_id, options_for_select(Course.all.collect{|lt| [lt.course_name, lt.id]}, (form.object.try(:course_id))), {}, { class: 'form-control'} %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-block btn-auth shadow"%>
  </div>
<% end %>
