<% content_for :head do %>
  <meta property="og:title" content="<%= "#{@article.title}" %>" />
  <meta property="og:description" content="<%= "#{@article.content}" %>" />
  <meta property="og:url" content="http://weekend-pros.herokuapp.com/articles/<%="#{@article.id}" %>" />
  <meta property="og:image" content="<%= "#{@article.cover_image_url}" %>" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%= "#{@article.title}" %>" />
<% end %>
<div class="container">
  <button class="btn back-link-btn mt-5"><i class="fa fa-arrow-left"></i>  <%=link_to "Back", portfolio_path, class: "text-white"%>
  </button>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="profile-pro mt-5 mb-5">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <% if @article.cover_image_url.present? %>
              <%= image_tag @article.cover_image_url,  class: "img-responsive ml-3", style: "width:170px;height:170px;"%>
            <%else%>
              <%= image_tag "dummy.jpg", class: "img-responsive ml-3 ", style: "width:170px;height:170px;" %>
            <% end %>  
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4">
                <a target="_blank" href="https://twitter.com/share?url=https://weekend-pros.herokuapp.com/articles/<%= "#{@article.id}" %>&title=<%= "#{@article.title}" %>">
                  <div>
                    <%= image_tag "twitter.png", class: "pull-right twitter-btn"%>
                  </div>
                </a>
              </div>
              <div class="col-md-4"> 
                <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://weekend-pros.herokuapp.com/articles/<%= "#{@article.id}" %>&title=<%= "#{@article.title}" %>&source=LinkedIn">
                  <%= image_tag "Linkedin-icon-8.png", class: "pull-right linkedin-btn"%>
                </a>
              </div>
              <div class="col-md-4">
                <a target="_blank" href="https://plus.google.com/share?url=https://weekend-pros.herokuapp.com/articles/<%= "#{@article.id}" %>">
                  <%= image_tag "gogle_plus_share_icon.png", class: "googleplus-btn"%>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <%if current_user%>
            <div class="col-md-10 offset-md-1 mt-2">
              <h4 class="text-center"><%= @user.name %></h4>
            </div>
          <%end%>  
        </div>
          <div class="row">
          <div class="col-md-12">
            <h4>Title</h4>
            <hr>
            <p><%= @article.title %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Description</h4>
            <hr>
            <p><%= raw(@article.content) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-8 offset-2">
      <div class="show-comment">
      <h2>Comments</h2>
        <% @article.comments.each do |comment| %>
          <p>
            <strong>Title:</strong>
            <%= comment.title %>
          </p>
         
          <p>
            <strong>Comment:</strong>
            <%= comment.body %>
          </p>
          <hr>
        <% end %>
      </div>
      <h2>Add a comment:</h2>
      <%= form_with(model: [ @article, @article.comments.build], local: true) do |form| %>
        <div class="form-group">
          <%= form.label :title %><br>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :body %><br>
          <%= form.text_area :body,class: "form-control"%>
        </div>
        <div class="form-group">
          <%= form.submit class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>  
  </div>  
</div> 
