<nav class="navbar navbar-expand-lg navbar-light bg-site nav-header">
  <a class="navbar-brand" href="#">WeekendPros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-100">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu dropdown-menu-right drop-links" aria-labelledby="navbarDropdownMenuLink">
          <% if user_signed_in? %> 
            <% if current_user.profile_pic_url.present? %>
              <%= image_tag current_user.profile_pic_url, class: "mb-2 account-img" %>
            <%else%>
              <%= image_tag "dummy.jpg", class: "card-img-top"%>  
            <%end%>
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item dropdown-link"%>  
            <%= link_to current_user.username, "", class: "dropdown-item dropdown-link"%>
            <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item dropdown-link" %>
            <%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item dropdown-link", method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "dropdown-item dropdown-link"%>
            <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item dropdown-link"%>
          <% end %>
        </div>
      </li>
    </ul>  
  </div>
</nav>