<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="profile-pro mt-5 mb-5">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <% if @user.profile_pic_url.present? %>
              <%= image_tag @user.profile_pic_url,  class: "img-responsive ml-3", style: "width:170px;height:170px;"%>
            <%else%>
              <%= image_tag "dummy.jpg", class: "img-responsive ml-3 ", style: "width:170px;height:170px;" %>
            <% end %>  
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 mt-2">
            <h4 class="text-center"><%= @user.name.capitalize %></h4>
            <h4 class="text-center"><%= @user.title.capitalize %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Description</h4>
            <hr>
            <p><%= @user.about %></p>
          </div>
          <div class="col-md-12">
            <h4>Contact Details</h4>
            <hr>
            <p>Email: <%= @user.email %></p>
            <p>Contact: <%= @user.contact %></p>
          </div>
          <div class="col-md-12 mb-2">
            <h4>Key Skills</h4>
            <hr>
            <% @user.skill_list.each do |skill| %>
              <%= link_to users_path(skill: skill) do %>
                <span class="badge badge-info skill-tag"><%= skill %></span>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-12">
            <h4>Address</h4>
            <hr>
            <p><%= @user.address %></p>
            <div id="map" style="width:100%;height:300px;border:5px solid #e0eae7;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function initMap() {
    var uluru = {lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZO1fKh_fnrQphRnEy7knxPUcOjKQWYPU&callback=initMap">
</script>