<div class="container mb-5 mt-4">
  <% if !user_signed_in?%>
    <div class="article-heading mt-5">
      <h2><%= link_to ' Add New Article', new_article_path,class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#myModal"%></h2>
      <hr>
    </div>
  <%else%>
    <div class="article-heading mt-5">
      <h2><%= link_to ' Add New Article', new_article_path,class: "btn btn-primary"%></h2>
      <hr>
    </div> 
  <%end%>    
  <div class="owl-carousel owl-theme">
    <% @articles.each do |article| %>
      <div class="row"> 
        <div class="item">
          <div class="card mt-1 mb-1 card-pro-d article-card" style="width: 348px;height: 450px;" >
            <% if article.cover_image_url.present? %>
             <%= image_tag article.cover_image_url, class: "card-img-top" %>
            <%else%>
              <%= image_tag "dummy.jpg", class: "img-responsive" %>
            <% end %>   
            <div class="card-body">
              <h5 class="card-title"> <%= article.title %></h5>
              <div class="address-pro">
                <p class="card-text"><%=truncate(sanitize(article.content, tags: []), length: 150)%></p><br>
                <div class="float-right">
                  <%= link_to "Read More",article_path(article), class: "read-more-link" %><i class="fa fa-angle-double-right ml-2"></i>
                </div>  
              </div> 
              <div>
                <% if current_user == article.user %>
                  <%= link_to "Edit",edit_article_path(article)%>|
             
                  <%= link_to "Destroy",article_path(article), method: :delete,  data: { confirm: 'Are you sure?' } %>
                <%end%>  
              </div>   
            </div> 
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <% if !user_signed_in?%>
    <div class="article-heading mt-5">
      <h2><%= link_to ' Add New Video', new_video_path,class: "btn btn-primary",  "data-toggle" => "modal", "data-target" => "#myModal1"%></h2>
      <hr>
    </div>
  <%else%>
    <div class="article-heading mt-5">
      <h2><%= link_to ' Add New Video', new_video_path,class: "btn btn-primary"%></h2>
      <hr>
    </div>
  <%end%>  
  <div class="owl-carousel owl-theme ">
    <% @videos.each do |video| %>
      <div class="row"> 
        <div class="item">
          <div class="card mt-1 mb-1 card-pro-d article-card" style="width: 348px;height: 355px;" >
            <% if video.channel_id.present? %>
              <iframe src='https://www.youtube.com/embed/<%= video.channel_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen height ="250px"></iframe>
            <%else%>
              <%= image_tag "dummy2.jpg", class: "img-responsive", style: "width:350px;height:400px;" %>
            <% end %>     
            <div class="card-body">
              <h5 class="card-title"> <%= video.title %></h5>
              <div>
                <% if current_user == video.user %>
              
                  <%= link_to 'Show', video %>|

                  <%= link_to "Edit",edit_video_path(video)%>|
               
                  <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%else%>
                  <%= link_to 'Show', video %>  
                <%end%>  
              </div>   
            </div> 
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>  
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Alert Box</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <div class="modal-body">
         For Add  New Article You  Have to Sign in First..
      </div>
      <div class="modal-footer">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary"%>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Alert Box</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <div class="modal-body">
         For Add  New Video You  Have to Sign in First..
      </div>
      <div class="modal-footer">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary"%>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
   $(document).ready(function() {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      nav: true,
      dots: false,
      items: 3,
      loop: true,
      margin: 15,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
      responsiveClass:true,
      responsive:{
        0:{
          items:1,
          nav:true
        },
        600:{
          items:2,
          nav:false
        },
        1000:{
          items:3,
          nav:true,
          loop:false
        }
      }
    });
  })
</script>
