<div class="container">
  <button class="btn back-link-btn mt-5"><i class="fa fa-arrow-left"></i>  <%= link_to "Add Lectures", new_lecture_path, class: "text-white"%>
  </button>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="profile-pro mt-5 mb-5">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <% if @course.banner_image_url.present? %>
              <%= image_tag @course.banner_image_url,  class: "img-responsive ml-3", style: "width:170px;height:170px;"%>
            <%else%>
              <%= image_tag "dummy.jpg", class: "img-responsive ml-3 ", style: "width:170px;height:170px;" %>
            <% end %>  
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Course Name</h4>
            <hr>
            <p><%= @course.course_name %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Description</h4>
            <hr>
            <p><%= raw(@course.description) %></p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div> 

